
/* fontawesome */

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome.eot?o9bkv4');
    src: url('../fonts/fontawesome.eot?o9bkv4#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome.ttf?o9bkv4') format('truetype'),
    url('../fonts/fontawesome.woff?o9bkv4') format('woff'),
    url('../fonts/fontawesome.svg?o9bkv4#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.fa-envelope-o:before {
    content: "\f003";
}

.fa-heart:before {
    content: "\f004";
}

.fa-check:before {
    content: "\f00c";
}

.fa-search-plus:before {
    content: "\f00e";
}

.fa-refresh:before {
    content: "\f021";
}

.fa-tag:before {
    content: "\f02b";
}

.fa-tags:before {
    content: "\f02c";
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-phone:before {
    content: "\f095";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-facebook-f:before {
    content: "\f09a";
}

.fa-credit-card:before {
    content: "\f09d";
}

.fa-mobile:before {
    content: "\f10b";
}

.fa-mobile-phone:before {
    content: "\f10b";
}

.fa-smile-o:before {
    content: "\f118";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-wifi:before {
    content: "\f1eb";
}

.fa-birthday-cake:before {
    content: "\f1fd";
}

body {
    background: #B4E329;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    /* prevent horizontal scrollbar from appearing */
}

.preloader {
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
}

.spinner {
    margin: -37px auto 0;
    width: 100%;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
}

.spinner>div:nth-child(1) {
    background-color: #FF7F00;
    animation-delay: -0.32s;
}

.spinner>div:nth-child(2) {
    background-color: #2F9C07;
    animation-delay: -0.16s;
}

.spinner>div:nth-child(3) {
    background-color: #B3208A;
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}

a {
    color: #cdec6f;
}

a:focus,
a:hover {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    padding-left: 22px;
}
ol ul {
    padding-left: 19px;
}
main li {
    margin-bottom: 7px;
    margin-top: 5px;
}
img {
    border-radius: 9px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* start titles */

h1,
h2 {
    font-family: "Lobster", cursive;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    color: #B4E329;
}

h2 span {
    color: #fff;
    /* 	font-weight: bold; */
}


/* end titles */


/* start urodziny o_nas cennik atrakcje kontakt */

#promocje,
#atrakcje,
#urodziny,
#cennik,
#regulamin,
#o_nas,
#kontakt {
    padding-top: 60px;
    padding-bottom: 80px;
}

/* end urodziny o_nas cennik atrakcje kontakt */


/* start header */

header {
    background: #B3208A;
}

header .top-bar {
    min-height: 42px;
    padding-top: 11px;
    font-size: 13px;
}

header .fa {
    color: #fff;
}

header span {
    font-weight: 400;
    padding-right: 10px;
    padding-left: 4px;
}

header a {
    color: #B4E329;
    font-weight: 700;
}

header p {
    margin-bottom: 2px;
    margin-top: 3px;
}

header i+a {
    margin-left: 13px;
}

header .social-icons {
    text-align: right;
}

header .social-icons li a {
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
}
header .social-icons li a span {
    margin-top: -7px;
}

.navbar-default {
    background: #fff;
    border: none;
    box-shadow: none;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
    font-weight: 500;
    font-size: 30px;
    height: 75px;
    line-height: 40px;
    padding: 2px 0px 0px 12px;
    width: 5%;
}

.navbar-header {
    width: 200px;
}

.navbar-brand .logo {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: auto;
}

.navbar-brand span {
    visibility: hidden;
}

.navbar-default .navbar-nav li a {
    font-weight: bold;
    font-size: 15px;
    height: 75px;
    line-height: 47px;
    color: #B3208A;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a.current {
    color: #fff;
}
a[href="#atrakcje"].current ,.navbar-default .navbar-nav  a[href="#atrakcje"]:hover,.navbar-default .navbar-nav  a[href="#atrakcje"]:focus {background: #B4E329}
a[href="#urodziny"].current ,.navbar-default .navbar-nav  a[href="#urodziny"]:hover,.navbar-default .navbar-nav  a[href="#urodziny"]:focus {background: #FF7F00}
a[href="#cennik"].current 	,.navbar-default .navbar-nav    a[href="#cennik"]:hover,.navbar-default .navbar-nav    a[href="#cennik"]:focus {background: #83AE07}
a[href="#regulamin"].current,.navbar-default .navbar-nav a[href="#regulamin"]:hover,.navbar-default .navbar-nav a[href="#regulamin"]:focus {background: #2F9C07}
a[href="#o_nas"].current 	,.navbar-default .navbar-nav     a[href="#o_nas"]:hover,.navbar-default .navbar-nav     a[href="#o_nas"]:focus {background: #B3208A}
a[href="#kontakt"].current 	,.navbar-default .navbar-nav   a[href="#kontakt"]:hover,.navbar-default .navbar-nav   a[href="#kontakt"]:focus {background: #188BD6}

.navbar {
    border-radius: 0;
    width: 100%;
    z-index: 1000;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
}

.pushed {
    margin-top: 75px;
}


/* end header */


/* start home */

#home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 117px);
}

@media (min-width: 768px) {
    #home {
        background-image: url('../images/home-bg-1920.jpg');
    }
}

#home h1 {
    font-size: 60px;
    padding-bottom: 10px;
    color: #FFFBA9;
    line-height: 1.2;
    text-shadow: 2px 3px 0 #1A6200, 1px 1px 25px #56003E;
}

#home h1 span {
    color: #B4E329;
    /* 	font-weight: bold; */
}
#home .btn-lg {
    background-color: #B3208A;
    font-weight: 700;
    color: #fff;
    transition: all .2s;
    letter-spacing: 1px;
  }
  
  #home .btn-lg:hover, #home .btn-lg:focus {
    background-color: #FF7F00;
    color: #fff;
  }
  
  #home .btn-lg span {
    display: inline-block;
    -webkit-animation: bounce 1.6s infinite ease-in-out;
            animation: bounce 1.6s infinite ease-in-out;
  }
  
  #home .btn-lg span:nth-child(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  
  #home .btn-lg span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  #home .btn-lg span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  #home .btn-lg span:nth-child(4) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  #home .btn-lg span:nth-child(5) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  #home .btn-lg span:nth-child(6) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  #home .btn-lg span:nth-child(7) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  
  #home .btn-lg span:nth-child(8) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  
  #home .btn-lg span:nth-child(9) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  
  #home .btn-lg span:nth-child(10) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  #home .btn-lg span:nth-child(11) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
  
  #home .btn-lg span:nth-child(12) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  
  #home .btn-lg span:nth-child(13) {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  
  #home .btn-lg span:nth-child(14) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  
  #home .btn-lg span:nth-child(15) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  
  #home .btn-lg span:nth-child(16) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  
  @-webkit-keyframes bounce {
    0%, 20% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    10% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
    }
  }
  
  @keyframes bounce {
    0%, 30% {
      -webkit-transform: translateY(0px);
              transform: scale(1) translateY(0px);
    }
    10% {
      -webkit-transform: translateY(-3px);
              transform: scale(1.2) translateY(-3px);
    }
  }


.btn-polkolonie {
    background: #ff7f00;
    background: #188BD6;
	background: transparent;
    border-color: transparent;
	border-radius: 6px;
	color: #393475;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 70px;
	padding: 20px 40px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
}
@media (max-width: 767px) {
    .btn-polkolonie {
        border: 2px solid #B3208A;
    }
}
.btn-polkolonie:after {
    content: '';
	line-height: 0;
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
	left: -21%;
    width: 142%;
    padding-top: 142%;
    min-height: 200px; /* fix for old Chrome */
    z-index: -1;
    background: url(https://res.cloudinary.com/rafiozoo/askalandia/background_blue_1.jpg) center no-repeat;
	/* background: url(https://res.cloudinary.com/rafiozoo/askalandia/background_orange_1.jpg) center no-repeat; */
	-webkit-background-size: 100%;
	background-size: 100%;
    -webkit-animation: 12s linear 0s infinite rotate-btn-bg;
	animation: rotate-btn-bg 12s infinite linear;
}
@-webkit-keyframes rotate-btn-bg {
	from {
		-webkit-transform: translateY(-50%) rotate(0);
		transform: translateY(-50%) rotate(0);
	}
	to {
		-webkit-transform: translateY(-50%) rotate(360deg);
		transform: translateY(-50%) rotate(360deg);
	}
}
@keyframes rotate-btn-bg {
	from {
		-webkit-transform: translateY(-50%) rotate(0);
		transform: translateY(-50%) rotate(0);
	}
	to {
		-webkit-transform: translateY(-50%) rotate(360deg);
		transform: translateY(-50%) rotate(360deg);
	}
}

.btn-polkolonie:hover:before,
.btn-polkolonie:focus:before {
    content: '\f118';
    font-family: fontawesome;
    margin-right: 6px;
    font-weight: normal;
    font-size: 1.3em;
}


/* end home */


/* start promocje */

#promocje {
    background-color: #B3208A;
}
@media (max-width:767px) {
    #promocje p {
        margin-top: 2em;
    }  
}
#promocje strong {
    font-size: 1.7em;
    background-color: #56003E;
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: -.5em;
    white-space: nowrap;
    display: inline-block;
}
#promocje strong + strong {
    margin-top: -1em;
}
#promocje strong + br + strong {
    margin-top: -.5em;
}
#promocje strong sup {
    font-size: .5em;
}
#promocje .row + .row {
    margin-top: 4em;
}
/* end promocje */


/* start atrakcje */

#atrakcje {
    background: #B4E329;;
}

#atrakcje h2 {
    color: #04819E;
}

#atrakcje .col-md-3 {
    padding: 0;
}

.atrakcje-thumb,
.atrakcje-overlay {
    max-width: 640px;
}

.atrakcje-thumb {
    padding: 10px;
    margin: 0 auto;
}

.atrakcje-overlay {
    background: hsla(104, 93%, 32%, .8);
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    opacity: 0;
    position: absolute;
    padding: 20px;
    margin: 0 auto;
    border-radius: 9px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.atrakcje-overlay .title {
    font-weight: 700;
    padding-bottom: 1px;
}

.atrakcje-overlay .btn {
    background: none;
    border: 1px solid hsla(75, 77%, 53%, .7);
    border-radius: 50%;
    /*display: block;*/
    color: #fff;
    font-size: 29px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.atrakcje-overlay .btn span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.atrakcje-overlay .btn:hover {
    background: hsla(75, 77%, 53%, .5);
    border: 1px solid hsla(75, 77%, 53%, 1);
}

.atrakcje-thumb:hover .atrakcje-overlay {
    opacity: 1;
}


/* end atrakcje */


/* start urodziny */

#urodziny {
    background: #fe8a00;
    background: #ff7f00;
}

#urodziny h2 {
    /* 	color: #E4FAA6; */
}

#urodziny .col-md-6 {
/*    padding: 10px 40px;*/
    transition: all 0.3s ease-in-out;
}
#urodziny .col-md-6 > UL  {
/*	padding-left: 0;*/
}
#urodziny .fa {
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#urodziny .title {
    color: #B4E329;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
}
#urodziny .title {
    color: #B4E329;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
}
#urodziny .lead {
	text-align: center;
	margin-top: 1em;
}

.single-button {
	text-align: center;
	margin-top: 1em;
}
.btn-info {
	margin: 1em 0;
}
#urodziny-zasady {
	margin-top: 1.5em;
}

#urodziny thead {
    visibility: collapse;
}
#urodziny table caption {
    display: table-row;
    visibility: collapse;
}
#urodziny td {
    padding: .4em 0;
    vertical-align: top;
}
#urodziny td:nth-child(even) {
    padding-left: 1em;
}
/* end urodziny */


/* start cennik */

#cennik {
    background: #83AE07;
}

#cennik h2 {
    color: #cdec6f;
}

#cennik .media-heading-wrapper {
    padding-bottom: 20px;
}

#cennik .media-heading-wrapper:after {
    content: '';
    display: table;
    width: 100%;
}

#cennik .media-heading-wrapper .fa {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    margin: 0 9px 20px 0px;
}

#cennik .media-heading-wrapper h3 {
    font-size: 21px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 52px;
    color: #cdec6f;
}


/* end cennik */


/* start regulamin */

#regulamin {
    background: #2F9C07;
}


/* end regulamin */


/* start o_nas */

#o_nas {
    background: #B3208A;
}

#o_nas h2 {}

.o_nas-wrapper {
    background: #890665;
    padding-bottom: 10px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    max-width: 345px;
    margin: 0 auto;
}

.o_nas-wrapper img {
    width: 100%;
    height: auto;
}

.o_nas-wrapper figcaption {
    padding: 20px 20px 10px;
    min-height: 189px
}

.o_nas-wrapper figcaption .role {
    color: #B4E329;
    font-weight: 700;
}


/* end o_nas */


/* start kontakt */

#kontakt {
    background: #188ad6;
}

.form-group {
    margin-bottom: 20px;
}

#kontakt .form-control {
    background: transparent;
    border: 1px solid #B4E329;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 1px;
}

#kontakt label {
    font-weight: 500;
    margin-bottom: 1px;
}

#kontakt input,
#kontakt button {
    height: 50px;
}

#kontakt button[type="submit"] {
    background: #B4E329;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}


#kontakt button[type="submit"].disabled {
    /* 	color: #fff; */
}

#kontakt button[type="submit"].disabled:hover,
#kontakt button[type="submit"].disabled:focus {
    cursor: not-allowed !important;
}

#kontakt button[type="submit"]:hover,
#kontakt button[type="submit"]:focus {
    background: #fff;
    color: #188AD6;
    border-color: #fff;
}

#kontakt button[type="submit"] {
    color: #188AD6;
}

button[type="submit"].disabled i {
    display: none;
}

button[type="submit"] i {
    display: inline;
    font-size: 21px;
}

.help-block.with-errors {
    color: #ccec6f;
}

.text-danger {
    color: #ffee00;
}

.text-success {
    color: #b3e329;
}

#kontakt address {
    padding: 22px 0 11px;
}

#kontakt .address-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

#kontakt h3 {
    font-size: 18px;
    margin: 35px 0 21px;
}

#kontakt address .fa {
    border: 1px solid #b3e329;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: 0 9px 0 -1px;
    font-size: 16px;
}

#kontakt .fa.fa-mobile {
    font-size: 25px;
}

#kontakt .fa.fa-map-marker {
    font-size: 19px;
}


/* end kontakt */


/* start copyright */

#copyright {
    padding: 30px 0 30px;
    background: #890665;
}

#copyright p,
#copyright a {
    color: #E698D0;
}


/* end copyright */


/* start social icon */

.social-icons {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icons>* {
    display: inline-block;
}

.social-icons ul {
    padding-left: 15px;
}

.social-icons li {
    display: inline-block;
    list-style: none;
}

.social-icons li a {
    border-radius: 50%;
    background: #B4E329;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
    font-size: 16px;
}
.social-icons li a span {
    display: block;
    width: 0;
    height: 0;
    text-indent: -999em;
    overflow: hidden;
    margin-top: -14px;
}
.social-icons li a:hover,
.social-icons li a:focus {
    background: #fff;
    color: #298da4;
}


/* end social icon */

.fb-container {
    /*text-align: right;*/
    min-height: 500px;
    background: #B4E329;
    padding: 10px;
    min-width: 360px;
    max-width: 360px;
    border-radius: 6px;
    margin: 0 0 0 auto;
}

.fb-page {
    display: inline-block;
    width: 340px;
    min-height: 500px;
}

#google-map {
    line-height: 0.7;
}

#google-map div {
    margin: 0;
    padding: 0;
}


/* start media queries */

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .atrakcje-overlay {
        padding: 0px 8px;
    }
}


/* start 980 media queries */

@media only screen and ( max-width: 980px) {
    #o_nas .o_nas-wrapper {
        margin-top: 40px;
    }
}


/* start 768 media queries */

@media only screen and ( max-width: 767px) {
    #home {
        padding-top: 40px;
        padding-bottom: 60px;
        /* background-image: url('../images/home-bg-960.jpg'); */
        background-image: url(https://res.cloudinary.com/rafiozoo/askalandia/background_orange_1.jpg);
    }
    #home .btn {
        margin: 30px auto 30px 0;
    }

    #home h1 {
        font-size: 52px;
    }

    .navbar {
        position: fixed;
        top: 0 !important;
        margin-top: 0px !important;
    }

    header {
        margin-top: 70px;
    }
    header p {
        margin-top: 5px;
    }
    header .social-icon {
        text-align: left;
    }
    .navbar-header {
        width: auto;
    }

    .navbar-header .navbar-toggle {
        margin-top: 18px;
        border: solid 1px #E698D0;
        border-radius: 6px;
        font-size: 0;
    }
    .navbar-header .navbar-toggle:focus {
        background: #fff;
    }
    .navbar-header .navbar-toggle:hover {
        background: #E698D0;
    }

    .navbar-collapse {
        max-height: 320px;
        overflow-y: auto;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #890665;
        height: 4px;
    }
    .navbar-default .navbar-nav li a {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;
        color: #890665;
        font-size: 16px;
        text-align: center;
    }

    #home h1 {
        text-shadow: -2px -3px 0 #1A6200;
    }

    .flipper {
        font-size: 21px;
    }

    .fb-container {
        margin: 30px auto 0;
        min-width: 280px;
        width: 100%;
        max-width: 500px;
        padding: 0;
        background: none;
        border-radius: none;
    }
    .fb-page {
        display: block;
        min-height: 500px;
        box-shadow: none;
        overflow: visible;
        transform: translate(0);
    }
    .fb-page,
    .fb-page span,
    .fb-page span iframe[style] {
        width: 100% !important;
    }
    .atrakcje-thumb {
        padding: 20px;
    }
    .atrakcje-thumb img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .atrakcje-overlay {
        position: static;
        width: 100%;
        height: auto;
        opacity: 1;
        font-size: 14px;
        z-index: -1;
        margin-top: -8px;
        transition: all 0.3s ease-in-out;
    }
    .atrakcje-overlay .title {
        font-size: 17px;
        font-weight: 700;
    }
    .atrakcje-overlay .btn {
        display: none;
    }
    #cennik .col-md-4 {
        padding: 15px;
    }
    .o_nas-wrapper figcaption {
        min-height: 160px
    }
    #kontakt .address-title {
        margin-top: 60px;
    }
}


/* end 768 media queries */


/* start 360 media queries */

@media only screen and ( max-width: 360px) {
    header .social-icon {
        text-align: left;
    }

    #home {
        min-height: 200px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #home h1 {
        font-size: 42px;
    }

    #atrakcje,
    #urodziny,
    #cennik,
    #o_nas,
    #kontakt {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h2 {
        padding-bottom: 20px;
    }
    .atrakcje-thumb {
        padding: 10px;
    }
    #cennik .active {
        background: transparent;
    }
    #o_nas>div>div>div>p {
        margin-bottom: -30px;
    }
}


/* end 360 media queries */


/* bootstrap-media-lightbox */

.modal-backdrop.fade.in {
    z-index: 2;
}

#bootstrap-media-lightbox-caption-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

#bootstrap-media-lightbox-caption {
    background: #fff;
    color: #890665;
    padding: 9px 15px 13px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

#bootstrap-media-lightbox-backward {
    position: absolute;
    top: 45%;
    left: 20px;
    font-size: 300%;
    color: white;
    cursor: pointer;
    z-index: 3;
}

#bootstrap-media-lightbox-forward {
    position: absolute;
    top: 45%;
    right: 20px;
    font-size: 300%;
    color: white;
    cursor: pointer;
    z-index: 3;
}

#bootstrap-media-lightbox-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#bootstrap-media-lightbox-close .glyphicon-remove-circle {
    color: white;
    font-size: 180%;
}

#bootstrap-media-lightbox-close .glyphicon-remove-circle {
    color: white;
    font-size: 180%;
}

#bootstrap-media-lightbox-close .fa-stack {
    font-size: 180%;
}

#bootstrap-media-lightbox-close .fa-square {
    color: #696969;
}


/* moje */

#bootstrap-media-lightbox-content-container {
    position: relative !important;
    z-index: 3;
}

#bootstrap-media-lightbox-content-container img {
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 0 10px white, 0 0 30px black;
}

#bootstrap-media-lightbox-close {
    z-index: 2;
}


/* end bootstrap-media-lightbox */


/* IE hack */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .svg {
        width: 100%;
    }
}

.anamaja::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 0 0.25em;
	vertical-align: middle;
	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='320'%3E%3Cstyle%3E%0Apath%5Bid%5D%7Banimation: b 3s infinite%7D%0A%23a%7Banimation-delay:.1s%7D%0A%23b%7Banimation-delay:.2s%7D%0A%23c%7Banimation-delay:.3s%7D%0A%23d%7Banimation-delay:.4s%7D%0A%23e%7Banimation-delay:.5s%7D%0A%23f%7Banimation-delay:.6s%7D%0A%23g%7Banimation-delay:.7s%7D%0A%23h%7Banimation-delay:.8s%7D%0A@keyframes b %7B 0%25 %7Bopacity:0%7D 20%25 %7Bopacity:1%7D 80%25 %7Bopacity:1%7D 100%25 %7Bopacity:0%7D%0A%7D%0A%3C/style%3E%3Cpath fill='%23060E3B' d='M338 261c-15 16-122-74-101-91 34-27 2-73-47-58-40 13-36 55-10 67 31 14-91 146-105 125-13-17 37-92 72-122-121 68-219 10-39-39-166-53-126-126 28-43C97 52 98 5 119 1c29-5 66 60 76 91 15-99 106-97 67-7 115-41 196-4 34 43 156 18 118 82-2 55 13 6 59 62 44 78z'/%3E%3Cpath id='a' fill='%23FF0012' d='M111 233c23-29 47-48 54-42 8 5-5 34-28 63s-48 48-55 42 6-34 29-63z'/%3E%3Cpath id='b' fill='%23FF7D00' d='M77 162c35-10 64-10 66 0s-25 27-60 37c-34 10-64 9-66-1-1-10 25-26 60-36z'/%3E%3Cpath id='c' fill='%23FFEA00' d='M84 84c34 15 60 32 53 44-7 11-42 4-76-10-33-15-56-34-50-43 7-10 39-5 73 9z'/%3E%3Cpath id='d' fill='%2372C90A' d='M170 61c8 24 3 40-12 36s-34-27-42-51-3-40 12-36 33 27 42 51z'/%3E%3Cpath id='e' fill='%2321EC99' d='M263 55c-3 19-17 36-31 39-13 2-22-11-19-30 4-19 18-36 32-38 13-3 21 11 18 29z'/%3E%3Cpath id='f' fill='%231BC9D4' d='M366 93c-17 12-53 22-80 23s-35-8-18-20c17-11 53-22 81-22 27-1 35 7 17 19z'/%3E%3Cpath id='g' fill='%234C43FE' d='M375 179c-22 6-61 1-88-10-26-10-29-23-7-28s61-1 88 10c26 10 29 23 7 28z'/%3E%3Cpath id='h' fill='%23C731FF' d='M318 252c-18-8-43-30-57-50-13-20-9-30 9-23s43 29 57 49c13 20 9 31-9 24z'/%3E%3C/svg%3E");
	transition: transform 0.2s;
}
.anamaja:hover::before,.anamaja:focus::before {
	transform: rotate(360deg) scale(1.2)
}

/* Cookie Consent */
/* Based on https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css */
.cc-window {
    opacity: 1;
    transition: opacity 1s ease
}
.cc-window.cc-invisible {
    opacity: 0
}
.cc-animate.cc-revoke {
    transition: transform 1s ease
}
.cc-animate.cc-revoke.cc-bottom {
    transform: translateY(2em)
}
.cc-animate.cc-revoke.cc-active.cc-bottom,
.cc-revoke:hover {
    transform: translateY(0)
}
.cc-grower {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s
}
.cc-link,
.cc-revoke:hover {
    text-decoration: underline
}
.cc-revoke,
.cc-window {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-size: .9em;
    line-height: 1.33em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999;
    background-color: #b3208a;
    border-top: 1px solid #890665;
}
.cc-window.cc-banner {
    padding: 1em 1.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row
}
.cc-revoke {
    padding: .5em
}
.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
    cursor: pointer
}
.cc-link {
    display: inline-block;
    padding: .2em
}

.cc-btn {
    display: block;
    padding: .5em 1em;
    font-weight: 700;
    border-width: 2px;
    text-align: center;
    white-space: nowrap;
    background-color: #b3e32a;
    color: #b3208a;
    border-radius: 5px;
}
.cc-btn:hover, .cc-btn:focus {
    background-color: #fff;
    color: #b3208a;
    text-decoration: none;
}
.cc-revoke.cc-bottom {
    bottom: 0;
    left: 3em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em
}
.cc-revoke.cc-left {
    left: 3em;
    right: unset
}
.cc-revoke.cc-right {
    right: 3em;
    left: unset
}
.cc-banner.cc-bottom {
    left: 0;
    right: 0;
    bottom: 0
}
.cc-banner .cc-message {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 1em
}
.cc-compliance {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between
}
.cc-floating .cc-compliance > .cc-btn {
    -ms-flex: 1;
    flex: 1
}
.cc-btn + .cc-btn {
    margin-left: .5em
}
@media print {
    .cc-revoke,
    .cc-window {
        display: none
    }
}
@media screen and (max-width:900px) {
    .cc-btn {
        white-space: normal
    }
}
@media screen and (max-width:414px) and (orientation:portrait),
screen and (max-width:736px) and (orientation:landscape) {
    .cc-window.cc-banner {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .cc-window.cc-banner .cc-compliance {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }
    .cc-window.cc-floating {
        max-width: none
    }
    .cc-window .cc-message {
        margin-bottom: 1em
    }
    .cc-window.cc-banner {
        -ms-flex-align: unset;
        align-items: unset
    }
    .cc-window.cc-banner .cc-message {
        margin-right: 0
    }
}
/* Polityka Prywatnosci */
.polityka {
    background: #B4E329;
}
.polityka header {
    margin-top: 0;
}
.polityka h1 {
    font-family: 'Nunito';
    font-weight: 700;
}
.polityka main {
    color: #04819E;
    padding: 2em 0;
}
.polityka main a {
    color: inherit;
}